.place-center[placeholder]{
    color: #e91e63
  }
  
  .place-center{
    margin-top: 20px;
    border-radius: 10px !important;
    padding-left: 30px !important;
    padding-right: 30px;
    font-size: 0.9em;
    background: rgb(219, 219, 219);
    height: auto;
    width: auto;
  }
  