<ion-header>
  <ion-toolbar color ='danger'>
    <ion-buttons slot="start">
      <ion-menu-button class="w3-pink w3-text-white"></ion-menu-button>
    </ion-buttons>
    <ion-title class="w3-center" style="margin-left: -80px;">Dashboard</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div>
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-button (click)="Panic()" expand="block" color="dark">
            <ion-text class="w3-padding">PANIC</ion-text>
            <ion-icon name="alarm"></ion-icon>
          </ion-button>
        </ion-col>
      </ion-row>

      <ion-row class="w3-margin-top">
        <ion-col>
          <ion-list>
            <ion-item (click)="Dash('List')">
              <ion-text color="dark">CHECK UR MATE</ion-text>
              <ion-icon color="dark" name="arrow-forward" slot="end"></ion-icon>
            </ion-item>
          </ion-list>
        </ion-col>
      </ion-row>

      <ion-row class="w3-margin-top">
        <ion-col>
          <ion-list>
            <ion-item (click)="Dash('Traffic')">
              <ion-text color="dark">TRAFFIC</ion-text>
              <ion-icon color="dark" name="car" slot="end"></ion-icon>
            </ion-item>
          </ion-list>
        </ion-col>
      </ion-row>

      <ion-row class="w3-margin-top">
        <ion-col>
          <ion-list>
            <ion-item (click)="Dash('geo-fence')">
              <ion-text color="dark">GeoFence</ion-text>
              <ion-icon color="dark" slot="end" name="notifications-circle"></ion-icon>
            </ion-item>
          </ion-list>
        </ion-col>
      </ion-row>

      <ion-row class="w3-margin-top">
        <ion-col>
          <ion-list>
            <ion-item (click)="Dash('unknown')">
              <ion-text color="dark">Unknown Users</ion-text>
              <ion-icon color="dark" name="help" slot="end"></ion-icon>
            </ion-item>
          </ion-list>
        </ion-col>
      </ion-row>

    </ion-grid>
  </div>
</ion-content>
