<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button class="w3-text-pink"></ion-back-button>
    </ion-buttons>
    <ion-title class="w3-text-pink w3-center" style="margin-left: -50px;">Reset Your Password</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="w3-container">
  <form>
    <ion-item lines="full">
      <ion-label position="floating">Email</ion-label>
      <ion-input type="email" required></ion-input>
    </ion-item>

    <ion-row>
      <ion-col>
        <ion-button type="submit" color="danger" expand="block">Send</ion-button>
      </ion-col>
    </ion-row>

    <small>
      Please provide the email address that you used when you signed
      up for your Evernote account.
    </small>
  </form>
</ion-content>